<br>

<div>
  {{input type='text' value=model.name placeholder='Enter the timezone name' }}
</div>
<div>
  {{input type='text' value=model.offset placeholder='Enter the timezone offset: -5' }} <br>
</div>

<br>

<button type="button" onclick={{action 'save' model}}>Save</button> {{#link-to 'timezones'}}Cancelar{{/link-to}}
