<h1>The timezones</h1>

<table>
  <thead>
  <tr>
    <th>Name:</th>
    <th>Offset:</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  {{#each model as |timezone|}}
    <tr>
      <td>{{timezone.name}}</td>
      <td>{{timezone.offset}}</td>
      <td>{{#link-to 'timezones.edit' timezone.id}}Editar{{/link-to}}</td>
    </tr>
  {{/each}}
  </tbody>
</table>

{{#link-to 'timezones.new'}}New TimeZone{{/link-to}} {{#link-to 'index'}}Clock{{/link-to}}

<br>

{{outlet}}